<div class="container h-nav border">
  <div class="row h-100">
    <div class="col-4">
      <div class="input-group mb-1 mt-1">
        <input type="text" [(ngModel)]="broadcastMsg" class="form-control" placeholder="Enter message">
        <div class="input-group-append">
          <button class="btn btn-info" type="button" (click)="fnBroadcast(broadcastMsg)">Broadcast</button>
        </div>
      </div>
      <app-chat-list [conversation]="conversation" [selectedUserInfo]="selectedUserInfo"></app-chat-list>
    </div>
    <div class="col-8">
      <app-conversation [conversation]="conversation" [selectedUserInfo]="selectedUserInfo"
                        (EventShowBoard)="isShowBoard = true;" [hidden]="isShowBoard"></app-conversation>
      <app-whiteboard [hidden]="!isShowBoard" [selectedUserInfo]="selectedUserInfo" (EventShowChat)="isShowBoard = false;"></app-whiteboard>
    </div>
  </div>
</div>
