<div class="chat h-100 w-100" *ngIf="selectedUser">
  <div class="chat-header clearfix">
    <div class="chat-about">
      <div class="chat-with">{{selectedUser.username | titlecase}}
      </div>
    </div>

    <i class="fa fa-pencil-square-o fa-lg pull-right m-2 c-pointer" (click)="fnShowChat('whiteboard')"></i>
    <i class="fa fa-commenting-o fa-lg pull-right m-2 c-pointer" (click)="fnShowChat('chat')"></i>

  </div>

  <div id="videoContainer">
    <div id="localVideoController">
      <video id="localVideo" autoplay></video>
      <div id="control">
        <input type="button" id="startButton" value="Call" (click)="start(true)">
      </div>
    </div>
    <div id="remoteVideoContainer">
      <video id="remoteVideo" autoplay></video>
    </div>
  </div>

  <div *ngIf="receivedVideo">
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            You are receiving an invitation for video call
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Reject</button>
            <button type="button" class="btn btn-primary">Accept</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

