/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

.h-90 {
  height: 90% !important;
}

.h-80 {
  height: 80% !important;
}

.h-nav{
  height: calc(100% - 56px) !important;
  min-height: 400px;
}

.c-pointer{
  cursor: pointer;
}

.chat .chat-message emoji-input textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}


#videoContainer {
  width: 100%;
  position: relative;
}
#localVideo, #remoteVideo {
  background: silver;
  vertical-align: text-top;
}
#localVideoController {
  width: 25%;
  margin: 0% 1% 1% 1%;
  float: left;
}
#localVideo {
  position: relative;
  width: 100%;
}
#remoteVideoContainer {
  width: 40%;
  margin: 0% 1% 1% 1%;
  float: left;
}
#remoteVideo {
  position: relative;
  width: 100%;
}
